{%  extends './parts/base.html.twig' %}
{% block body %}
welcome to my site, your number is:  {{data}}

<table>
{% for product in products %}
   <tr>
   <td>{{product.name}}</td>
   <td>{{product.mpn}}</td>
   </tr>
{% endfor %}
</table>

{% endblock %}
